
h1 {
    background-color: aqua;
    color: tomato;
    /* margin-left: 10px; */
    /* padding-top: 150px; */
    /* margin top right bottom left; */
    margin: 50px 60px 50px 60px;
}

h2 {
    background-color: aliceblue;
    color: blue;
    /* padding: top left-right bottom */
    padding: 30px 60px 100px;
    height: 100px;
    width: 200px;
}

h3 {
    background-color: aquamarine;
    color: black;
}

ol {
    color: hotpink
}

li {
    color: rgb(129, 96, 247);
}

.tomatofy {
color: tomato;
}

.pinkafy {
color: pink;
}

.bluify {
color: blue;
background-color: black;
}

#content {
background-color: brown
}

.container {
    /* width: 800px; */
    margin: 0 auto;
    /* margin topbottom "0" leftright "auto" */
}