/* h1 {
    background-color: aqua;
    color: tomato;
    margin-left: 10px;
    padding-top: 150px;
    margin top right bottom left;
    margin: 0 auto;
    border: 5px solid white;
    padding: 5px;
    border-radius: 5px;
    background: rgb(104, 13, 156);
    text-align: center;
} */

h1, h2 {
    font-family: syncopate, serif;
    color: white;
}

/* h2  {
    background-color: blueviolet;
    color: red;
    padding: top left-right bottom
    padding: 30px 60px 30px;
    height: 60px;
    width: 200px;
} */

/*h3
    {
    background-color: aquamarine;
    color: black;
} */

h3 {
    font-family: anton, serif;
}

#navigation {
    position: sticky;
    top: 0;
    grid-area: navigation;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(146, 139, 139);
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/um3ALg5/internet-binary-data-highway-blue-10839_4jfxamjq__F0000.png);

    }

/*position fixed or Sticky allows nav contents to scroll w/page*/

#navigation a {
    color: white;
}

#navigation>ul {
display: flex;
list-style: none;
width: 100%;
justify-content: space-around;
line-height: 20px;
}    

#navigation>ul>li {
    position: relative;
    /* puts all list items inline */
    /* > = direct decendents*/
}    

#navigation>ul>li>ul {
    position: absolute;
    background-color: rgb(151, 148, 151);
    display: none;
    width: 83px;
    top: 17px;
    left: -30px;
    list-style: none;
}    

/*position absolute moves with page*/

#navigation>ul>li:hover>ul { 
    display: block;
}    

li:hover {
    background: rgb(92, 49, 117);
}    

#navigation img {
    max-width: 90%;
    border: 3px solid rgb(92, 49, 117);
}

#content img {
    max-width: 25%;
}

#root {
    background-color: rgb(122, 115, 115);
    display: grid;
    /*max-content set to "content*/
    min-height: 100vh;
    grid-template-areas: "navigation" "header" "content" "footer";
    grid-template-rows: min-content min-content auto min-content;
}    

/* li:first-child {
        margin-right: 50px;
    } */    

/* li:first-of-type {
        margin-right: 200px;
    } */    

.tomatofy {
    color: tomato;
}    

.container {
    margin: auto;
    border: 2px solid rgb(146, 139, 139);
    background-color: rgb(92, 49, 117); 
    /* margin topbottom "0" leftright "auto" */
    /* MUST HAVE A WIDTH OR HEIGHT SET FOR AUTO TO WORK */
}    


#header {
    border: 5px solid white;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    grid-area: header;
}

#content {
    padding: 10px 50px 10px 70px;
}

#contentBlog {
    background-color: rgb(138, 136, 136);
    margin: 10px auto;
    border: 12px dotted rgb(92, 49, 117);
    padding: 5px 25px 5px 25px;
}

#contentContact form {
    display: flex;
    flex-direction: column;
    margin: 10px 600px;
    border: 12px dotted rgb(92, 49, 117);
}

#contentContact form input {
    margin: 5px;
}

#footer {
    color: rgb(92, 49, 117);
    text-align: center;
    grid-area: footer;
}

/* .flt-rht {
    display: inline;
    float: right;
    padding-right: 40px;
}

.flt-rht>img {
    height: 90px;
    display: inline;
} */

figure~p {
    color: black;
}

.schedule {
    text-align: start;
}

/*~ means general sibling selector, applys style to both*/

li>p {
    color: rgb(92, 49, 117);
}

#contentBlog p {
    color: rgb(92, 49, 117);
}

/* > means directdecendent selector, selects all P's under Li*/

/* p:hover {
    background: rgb(67, 253, 10);
} */

/*changes the background color when hovering cursor*/

/*div {
    background: chartreuse;
    color: blue;
}

/*Div is an element! easy to overwrite!*/

#navigaton>ul {
    display: flex;
    justify-content: space-around;
}

@media(min-width: 800px) {
    #root {
        grid-template-areas: "navigation  header" "navigation  content" "navigation  footer";
        grid-template-rows: min-content auto min-content;
        grid-template-columns: minmax(min-content, 12vw) auto;
    }

    #navigation {
        flex-direction: column;
        justify-content: flex-start;
    }

    #navigation>ul {
        flex-direction: column;
    }
   
}